<script lang="ts">
export default {
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      variant: '',
    };
  },
  created() {
    if (this.$route.query.variant) {
      const paramVariant = this.$route.query.variant;
      if (paramVariant === 'smb') {
        this.variant = 'smb';
      } else if (paramVariant === 'ci') {
        this.variant = 'ci';
      } else if (paramVariant === 'security') {
        this.variant = 'security';
      } else this.variant = 'default';
    } else this.variant = 'default';
  },
};
</script>

<template>
  <section class="hero">
    <SlpContainer>
      <div class="flex" data-aos="fade-up" data-aos-duration="500">
        <div class="form-container">
          <div class="header">
            <SlpTypography tag="h1" variant="heading1-bold" class="slp-mb-16">
              {{ data[variant].heading }}
            </SlpTypography>
            <SlpTypography tag="p" variant="heading4-bold" class="slp-mb-32">
              {{ data[variant].subtitle }}
            </SlpTypography>
          </div>

          <div id="form" class="slp-mb-32 form">
            <SlpButton
              href="https://gitlab.com/-/trial_registrations/new"
              variant="primary"
              :class="data[variant].fullButton ? 'full-button' : ''"
              data-ga-name="free trial"
              data-ga-location="hero"
            >
              Start free trial
              <SlpIcon
                class="learn-more-icon slp-ml-8"
                name="chevron-lg-right"
                variant="product"
              />
            </SlpButton>
            <SlpTypography tag="span" variant="body3" class="disclaimer">
              <span v-html="$md.render(data[variant].terms)"></span>
            </SlpTypography>
          </div>
        </div>
        <div class="content">
          <iframe
            :src="data.video_url"
            class="video"
            title="GitLab Video"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div>
            <div
              v-for="item in data[variant].icon_list"
              :key="item.icon_name"
              class="list-item"
            >
              <img
                v-if="item.icon_src"
                :src="item.icon_src"
                aria-hidden="true"
                alt=""
                class="icon"
              />
              <SlpIcon
                v-else
                variant="marketing"
                :name="item.icon_name"
                size="md"
                hex-color="#171321"
              />
              <SlpTypography tag="p" variant="body1">{{
                item.text
              }}</SlpTypography>
            </div>
          </div>
        </div>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.hero {
  background: $color-surface-50;
  padding-top: $spacing-96;
  padding-bottom: 110px;

  .flex {
    display: flex;
    gap: 120px;
    align-items: center;
  }

  .form-container {
    flex: 1 0 45%;

    .header {
      h1 {
        max-width: 520px;
      }

      p {
        display: block;
        margin-bottom: $spacing-24;
      }
    }

    @media (max-width: $breakpoint-md) {
      .header {
        p {
          margin-bottom: $spacing-16;
        }
      }
    }
  }

  .form {
    background: $color-surface-50;
    border-radius: 8px;
    max-width: 540px;

    .disclaimer {
      display: block;
      color: $color-text-200;
      margin-top: $spacing-24;
    }

    .full-button {
      // specific for content variants, requires prop value
      width: 100%;
      justify-content: center;
    }

    @media (max-width: $breakpoint-md) {
      .slp-btn-primary {
        width: 100%;
        justify-content: center;
      }

      .disclaimer {
        margin-top: $spacing-16;
      }
    }
  }

  .content {
    flex: 1 0 50%;
  }

  .list-item {
    margin-bottom: $spacing-24;
    display: flex;
    align-items: center;

    .slp-icon,
    .icon {
      margin-right: $spacing-16;
      width: 32px;
      height: 32px;
      color: black;
    }
  }

  .video {
    margin: 0 0 40px -45px; // overrides player center css
    width: 100%;
    height: 275px;

    &:deep {
      .vp-center {
        justify-content: flex-start !important;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-64 0;

    .flex {
      flex-direction: column;
      gap: 0;
    }

    .video {
      margin: 0 0 $spacing-24 0;
      height: 200px;
    }
  }
}
</style>
