<script lang="ts">
export default {
  name: 'InlineBanner',
  props: {
    href: {
      type: String,
      required: true,
    },
    linkText: {
      type: String,
      required: true,
    },
  },
};
</script>

<template>
  <SlpContainer class="banner slp-my-48">
    <a :href="href" data-ga-name="free trial" data-ga-location="banner">
      <SlpRow class="slp-align-items-center">
        <SlpColumn :cols="1">
          <SlpIcon variant="marketing" name="gitlab" size="lg" />
        </SlpColumn>
        <SlpColumn :cols="7">
          <SlpTypography
            tag="h1"
            variant="heading4"
            class="banner__text slp-mb-24 slp-mb-md-0"
          >
            {{ linkText }}
          </SlpTypography>
        </SlpColumn>
        <SlpColumn :cols="4">
          <SlpButton
            class="banner__button"
            variant="primary"
            size="large"
            data-ga-location="banner"
            data-ga-name="free trial"
          >
            Start your free trial
          </SlpButton>
        </SlpColumn>
      </SlpRow>
    </a>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.banner {
  border-radius: 16px;
  background-color: $color-surface-800;
  padding: 2rem;
  transition: all 0.3s;

  &__text {
    color: $color-text-300;
  }

  &:hover {
    box-shadow: 0 24px 50px -24px #d1d0d3;
  }

  &__button {
    float: right;
  }
}
</style>
