<script lang="js">
import Vue from 'vue';
import { NextStep } from '../components/common/index.vue';
import {
  NewQuotesCarousel,
  CustomerLogos,
  ResourceCards,
  SolutionsContainer as Solutions,
  Hero,
  BadgeTabs,
  FeaturedContent,
} from '../components/home/index.vue';
import { getPageMetadata } from '../common/meta';

export default Vue.extend({
  components: {
    NewQuotesCarousel,
    CustomerLogos,
    ResourceCards,
    NextStep,
    Solutions,
    Hero,
    BadgeTabs,
    FeaturedContent,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const doc = await $content('index').fetch();
    return { doc };
  },
  head() {
    return getPageMetadata(this.doc, this.$route.fullPath, this.$nuxtI18nHead({ addSeoAttributes: true }));
  },
  mounted() {
    this.onResize();
    window.addEventListener('resize', this.onResize);
  },
  destroyed() {
    window.removeEventListener('resize', this.onResize);
  },
  methods: {
    onResize() {
      this.width = window.innerWidth;
    },

  },
});
</script>

<template>
  <div>
    <Hero :data="doc.cta_block" />
    <SlpContainer>
      <CustomerLogos :data="doc.customer_logos_block" />
    </SlpContainer>
    <FeaturedContent :data="doc.featured_content" />
    <section>
      <NewQuotesCarousel :data="doc.quotes_carousel_block" />
    </section>
    <section>
      <Solutions :data="doc.solutions_block" />
    </section>
    <BadgeTabs :data="doc.badges" />
    <section>
      <ResourceCards :data="doc.resource_card_block" />
    </section>
    <SlpContainer variant="gradient">
      <NextStep />
    </SlpContainer>
  </div>
</template>
