<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';

interface FeatureCard {
  name: string;
  description: string;
  icon: string;
  pill: string;
  href: string;
}
export default Vue.extend({
  props: {
    cards: {
      type: Array as PropType<FeatureCard[]>,
      required: true,
    },
  },
});
</script>

<template>
  <div class="ai-features">
    <SlpTypography variant="heading2-bold" tag="h2"
      >Our AI Features</SlpTypography
    >
    <div class="card-grid">
      <div v-for="card in cards" :key="card.name" class="ai-card">
        <SlpIcon
          :name="card.icon"
          variant="marketing"
          size="md"
          hex-color="#171321"
        />

        <SlpTypography variant="body1-bold">{{ card.name }}</SlpTypography>
        <SlpTypography variant="body3">{{ card.description }}</SlpTypography>
        <SlpButton v-if="card.href" variant="tertiary"
          >Join the waitlist <SlpIcon name="chevron-right" variant="product"
        /></SlpButton>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.ai-features {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 64px 0;
  .card-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr;
    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
    .ai-card {
      display: flex;
      flex-direction: column;
      gap: 16px;
      background: $color-surface-800;
      border-radius: 4px;
      padding: 24px;
      transition: all 0.3s;
      min-height: 245px;
      .pill-row {
        display: flex;
        justify-content: space-between;
        .pill {
          padding: 4px 12px;
          background: #7759c2;
          border-radius: 90px;
          color: white;
        }
      }
    }
  }
}
</style>
